body{

margin:0;

background:#000;

overflow:hidden;

font-family:Consolas,monospace;

}

#terminal{

padding:20px;

white-space:pre;

color:#00ff00;

font-size:15px;

line-height:15px;

overflow:auto;

height:100vh;

}

pre{

margin:0;

white-space:pre;

}

::-webkit-scrollbar{

width:8px;

}

::-webkit-scrollbar-thumb{

background:#00ff00;

}

canvas{

position:fixed;

top:0;

left:0;

pointer-events:none;

}
